# Xcode\n.DS_Store\n*.swp\n*.lock\nprofile\n*~.nib\nDerivedData/\n*.hmap\n*.ipa\n*.dSYM.zip\n*.dSYM\n\n# Swift Package Manager\n.build/\n.swiftpm/\n\n# CocoaPods\nPods/\n*.xcworkspace\n\n# Carthage\nCarthage/Build/\n\n# fastlane\nfastlane/report.xml\nfastlane/Preview.html\nfastlane/screenshots\nfastlane/test_output\n\n# Code Injection\niOSInjectionProject/\n\n# Environment variables\n.env\n
